<!DOCTYPE html>
<head>
  <title>OpenAI Quickstart</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dog.png') }}" class="icon" />
  <a href="superhero_pet" >Super hero my pet</a>
  <a href="spades_answers" >Get spades answers</a>
  <a href="conversation" >Have a conversation</a>
  <a href="conversation_compare" >Compare conversation servers</a>
  <a href="sentiment" >Conversation sentiment</a>
  <a href="encapsulate_compare" >Compare conversation encapsulation</a>
</body>
